@charset "utf-8";
/* CSS Document */
body{
	 font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}


button{
position: relative;
background:none;
border: none;
float: right;
top: 10px;
right: 10px;
z-index: 999;
width: 30px;

}

button:hover{
	border: none;
	background: none;
	padding-top: 5px;
	
}

button:focus,button:active{
	border: none;
	background-color:#3F98F3;
	padding-top: 5px;
	outline: none;
	border-radius:50%;

}




nav{
	position:relative;
    top:10px;
	width:windowWidth;
    float:left;
	}
	
nav li{
	display:block;
	background:url('lib/pic/me03.png');
    background-size:contain;
    background-repeat:no-repeat;
	padding:30px;
	transition-property:background-img;
    float:left;
	}
nav li:hover{
	background:url('lib/pic/me04.png');
    background-size:contain;
    background-repeat:no-repeat;
	padding:30px;
}	

nav li a{
	width:100%;
	height:100%;
	display:block;
	text-decoration: none;
	color:#fff;
	cursor:help;
	}
nav li a:hover{
	color:#fff;
   text-decoration:underline;
	}	


	
#warn{
	position: absolute;
	text-align: right;
	right:2.5%;
	top:122px;
	display:block;
	text-decoration: none;
	color:#fff;
	font-size:15px;
	}

ul {
    position:absolute;
    top:100px;
    right:2.5%;
	 font-size:10px;
}	 

ul li{
float: left;
list-style-type:none;
margin-left: 10px;
}	

ul li a{
color: #FFFFFF;
}

ul li a:hover{
	color:#FF66CC;
	cursor:help; 
}
	